html,body{
    height: 100%;
    position:  relative;
    background-image: url(https://content.skyscnr.com/m/78c0adee87cafb12/original/eyeem-26694340-142112507.jpg?resize=1800px:1800px&quality=100);
    
}

#header{
    min-height: 500%;
    background-color:rgb(115, 212, 212);
    position:  relative;
    
}

#primero{
    height: 220px;
    width: 100%;
    background-image: url(https://www.lavanguardia.com/files/og_thumbnail/uploads/2018/06/15/5fa43d71a111f.jpeg);
    
    
}
    
 
#titulo{
    position: relative;
    top:0px; left:400px; 
    color: rgb(53, 81, 170);

 }
 #segundo{
     position: relative;
     background-color:rgb(182, 224, 248)
 }

 #holder{
     background-color: rgb(175, 220, 247);
 }
 #volar{
     color: rgb(24, 123, 168);
 }